{% block saxulum_polycollection_widget %}
    {% spaceless %}
        {% if prototypes is defined %}
            {% set renderedPrototypes = [] %}
            {% for name, prototype in prototypes %}
                {% set renderedPrototypes = renderedPrototypes|merge([{
                'key': name,
                'value': form_widget(prototype) ~ ' &nbsp;<a href="#" class="btn btn-danger btn-small" data-removefield="collection" data-field="__id__"><i class="icon-minus-sign icon-white"></i>remove</a>'
                }]) %}
            {% endfor %}
            {% if form.vars.allow_add %}
                <ul>
                    {% for renderedPrototype in renderedPrototypes %}
                        <li><a data-addfield="collection" data-collection="{{ form.vars.id }}" data-prototype="{{ renderedPrototype.value }}">{{ renderedPrototype.key }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
        <div {{ block('widget_container_attributes') }}>
            <ul class="unstyled">
                {% for field in form %}
                    <li>
                        {{ form_widget(field) }}
                        {{ form_errors(field) }}
                        {% if form.vars.allow_delete %}
                            &nbsp;<a href="#" class="btn btn-danger btn-small" data-removefield="collection" data-field="{{ field.vars.id }}"><i class="icon-minus-sign icon-white"></i> remove</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endspaceless %}
{% endblock saxulum_polycollection_widget %}
